<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaishengit.mapper.BookMapper">

    <resultMap id="bookMap" type="book">
        <id column="id" property="id"/>
        <result column="book_name" property="bookName"/>
        <result column="price" property="price"/>
        <result column="author_id" property="authorId"/>
        <result column="type_id" property="typeId"/>
        <association property="author" javaType="author">
            <id column="author_id" property="id"/>
            <result column="author_name" property="authorName"/>
        </association>
        <association property="type" javaType="type">
            <id column="type_id" property="id"/>
            <result column="type_name" property="typeName"/>
        </association>
    </resultMap>

    <select id="findBookById" parameterType="int" resultMap="bookMap">
        SELECT
            b.id,
            b.book_name,
            b.price,
            author_id,
            author_name,
            type_id,
            type_name
        FROM
            t_book b,
            t_author a,
            t_type t
        WHERE
            b.author_id = a.id
        AND b.type_id = t.id
        AND b.id = #{id};
    </select>

    <!--<select id="findBookById" parameterType="int" resultType="book">
        SELECT
            b.id,
            b.book_name,
            b.price,
            author_id,
            author_id as 'author.id',
            author_name as 'author.authorName',
            type_id,
            type_id as 'type.id',
            type_name as 'type.typeName'
        FROM
            t_book b,
            t_author a,
            t_type t
        WHERE
            b.author_id = a.id
        AND b.type_id = t.id
        AND b.id = #{id};
    </select>-->
    
    <select id="findPage" resultType="Book">
       SELECT
            b.id,
            b.book_name,
            b.price,
            author_id,
            author_id as 'author.id',
            author_name as 'author.authorName',
            type_id,
            type_id as 'type.id',
            type_name as 'type.typeName'
        FROM
            t_book b,
            t_author a,
            t_type t
        WHERE
            b.author_id = a.id
        AND b.type_id = t.id
        LIMIT #{offset},#{size};
    </select>

    <select id="findByTypeId" parameterType="int" resultType="book" >
        SELECT
            b.id,
            b.book_name,
            b.price,
            author_id,
            author_id as 'author.id',
            author_name as 'author.authorName',
            type_id,
            type_id as 'type.id',
            type_name as 'type.typeName'
        FROM
            t_book b,
            t_author a,
            t_type t
        WHERE
            b.author_id = a.id
        AND b.type_id = t.id
        AND b.type_id = #{typeId}
    </select>

    <select id="findByParam" parameterType="map" resultMap="bookMap">
        SELECT
            b.id,
            book_name,
            price,
            author_id,
            author_name,
            type_id,
            type_name
        FROM
            t_book b
        INNER JOIN t_type t ON b.type_id = t.id
        INNER JOIN t_author a ON b.author_id = a.id
        <where>
            <if test="typeName != null and typeName != ''">
                type_name LIKE #{typeName}
            </if>
            <if test="authorName != null and authorName != ''">
                AND author_name LIKE #{authorName}
            </if>
            <if test="bookName != null and bookName != ''">
                AND book_name LIKE #{bookName}
            </if>
        </where>
    </select>

    <select id="findByIds" parameterType="list" resultMap="bookMap">
        SELECT
            b.id,
            book_name,
            price,
            author_id,
            author_name,
            type_id,
            type_name
        FROM
            t_book b
        INNER JOIN t_type t ON b.type_id = t.id
        INNER JOIN t_author a ON b.author_id = a.id
        WHERE
            b.id IN
            <foreach collection="list" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </select>
</mapper>